@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  transition: opacity 1s ease-in;
}

.bg-play-gradient {
  background-color: #000000;
  background-image: radial-gradient(
      circle at 15% 105%,
      #001eff 0%,
      transparent 45%
    ),
    radial-gradient(circle at 85% 105%, #001eff 0%, transparent 45%),
    radial-gradient(circle at 50% 115%, #001eff 0%, transparent 55%),
    radial-gradient(ellipse 150% 40% at 50% 100%, #001eff 0%, transparent 70%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
